@import "compass";

$brandColor: #97B700;

@media (max-width: 1220px) {
	.aui body {
		padding: 0 20px;
	}
}

@media (min-width: 980px) and (max-width: 1220px) {
	.centred {
		max-width: 980px;
	}

	.aui body {
		header {
			max-width: 980px;

			#tools {
				.recursive a {
					letter-spacing: inherit;
				}

				.socialMedia img {
					max-width: 37px;
				}
			}
		}

		.servicioDestacado img {
			max-height: 76px !important;
		}

		footer .footer-cont {
			max-width: 960px;
			padding-left: 20px;
			padding-right: 20px;
		}

		.carousel {
			height: 305px !important;
		}
	}
}

@media (max-width: 979px) {
	.aui body {
		#wrapper {
			position: relative;
		}

		.t-center {
			margin-bottom: 0;
		}

		.head {
			display: none;
		}

		.portlet-dockbar {
			display: none;
		}

		header {
			#heading {
				float: none;
				margin-top: 65px;
				text-align: center;
				width: 100%;
			}

			#tools {
				float: none;
				text-align: center;
				width: 100%;

				.recursive {
					border: none;
					float: none;
					padding: 0;
					padding-bottom: 15px;
					width: 100%;

					ul li {
						background: none;
						background: transparent url(../images/css/bullet-recursive.png) no-repeat 0 50%;
						display: inline-block;
						padding-right: 5px;

						&:first-child {
							background-image: none;
						}
					}
				}

				.socialMedia {
					float: none;
					text-align: center;

					img {
						float: none;
						width: 37px;
					}
				}

				.aside {
					float: none;
					width: 100%;
				}

				.search input[type="text"] {
					margin-bottom: 15px;
					padding: 5px 0;
					position: inherit;
					width: 99.8%;
				}
			}

			.nav-responsive {
				background: #F2F2F2;
				border-bottom: 2px solid #CCC;
				display: block;
				height: 50px;
				padding: 0;
				position: absolute;
				top: 15px;
				width: 100%;

				.navbar-btn-nav {
					background: transparent url(../images/css/navigation.png) no-repeat 0 0;
					cursor: pointer;
					height: 50px;
					position: absolute;
					right: 0;
					top: 0;
					width: 50px;
				}
			}

			#navigation {
				display: none;
				left: 0;
				padding: 0;
				position: absolute;
				top: 65px;
				width: 100%;
				z-index: 9;

				ul li {
					border-bottom: 1px solid #CCC;
					clear: both;
					display: block;
					float: none;
					width: 100%;

					a {
						background-color: $brandColor;
						color: #FFF;
						display: block;
						float: none;
						font-size: 1.2em;
						padding: 10px 2%;
						text-align: left;
						
						span{
							padding-left:0;
						}
					}

					span.child-button {
						cursor: pointer;
						height: 40px;
						position: absolute;
						right: 0;
						top: 0;
						width: 40px;

						&.up {
							background: transparent url(../images/css/arrow-responsive-down.png) no-repeat 50% 50%;
						}

						&.down {
							background: transparent url(../images/css/arrow-responsive-up.png) no-repeat 50% 50%;
						}
					}

					.child-menu {
						display: none;
						margin: 0;
						position: relative;
						top: 0;
						width: 100%;

						li {
							display: inherit;
							position: inherit;
							width: 100%;

							a {
								font-size: 1em;
							}
						}
					}

					&:hover {
						ul {
							border: none;
						}

						li {
							display: inherit
						}
					}
				}
			}
		}

		#content {
			margin-bottom: 0;
		}

		.portlet-column-content.empty {
			padding: 10px;
		}

		.portlet-layout .portlet-boundary {
			margin: 0;
		}

		[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
			display: block;
			float: none;
			margin: 0;
			padding: 0;
			width: 100%;
		}

		.servicioDestacado {
			float: none;
			height: auto;
			margin: 0 0 10px !important;
			padding-left: 0;
			padding-right: 0;
			position: inherit;
			width: 100%;

			.description {
				left: inherit;
				position: inherit;
				right: inherit;
				text-align: center;
			}
		}

		footer .footer-cont {
			max-width: 960px;
			padding-left: 20px;
			padding-right: 20px;
			text-align: center;

			.foot-left {
				float: none;
				margin: 0;
				padding-bottom: 0;
				width: 100%;
			}

			.foot-right {
				border-top: 1px solid #666;
				float: none;
				margin: 0;
				padding: 20px 0;
				width: 100%;

				.foot-right-links {
					float: none;
					margin: 0;
					padding-bottom: 10px;

					ul {
						list-style: none;
						margin: 0;
					}
				}

				.socialMedia {
					float: none;
				}
			}
		}

		.head-service li {
			background-color: #F2F2F2;
			margin: 0;
			margin-bottom: 15px;
			padding: 20px 0 0;
			position: inherit;
			width: 100%;

			.cont {
				bottom: inherit;
				left: inherit;
				padding: 10px 0;
				position: inherit;
				width: 100%;

				p.more {
					text-align: center;
				}
			}

			img {
				width: auto;
			}
		}

		.carousel {
			height: 238px !important;
		}
		/*</body>*/
	}
}

@media (max-width: 767px) {
	.aui body {
		.portlet-layout .img.fl {
			float: none;
			margin: 0 0 10px;
			text-align: center;
			width: inherit;

			img {
				width: auto;
			}
		}

		.carousel {
			height: 150px !important;
		}
	}
}

@media (max-width: 500px) {
	.aui body {
		.info-contact {
			display: block;
			text-align: center;

			.city, .phone, .email {
				display: block;
			}
		}

		.carousel {
			height: 100px !important;
		}

		footer .footer-cont .foot-right .socialMedia img {
			width: 35px;
		}
	}
}